body
{
	background-image: url("https://get.wallhere.com/photo/1920x1080-px-anime-anime-girls-Hatsune-Miku-Hatsune-Miku-Append-Vocaloid-1010185.jpg");		;
	background-color: black;
}

h1
{
	font-family: Garamond;
	font-size: 40px;
}

p
{
	font-family: Garamond;
	font-size: 20px;
}

.quadrado
{
	margin: 0 auto;
	width: 450px;
	height: 700px;
	background-color: #46596D;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: medium;
}

.imagem1
{
	border: 5px solid #000000;
	width: 250px;
	height: 280px;
	margin: 0 auto;
}

.linhahorizontal1
{
	width: 25%;
	border-style: dotted;
	border-color: black;
	border-width: medium;
}